body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #011113;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header nav {
    display: flex;
    flex-wrap: nowrap; 
    justify-content: center;
    align-items: center; 
}

header nav a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background 0.3s;
}

header nav a:hover {
    text-decoration: none;
    background: #636161;
}

header nav a.active {
    background: #05273d;
    color: #fff;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .dropbtn {
    font-size: inherit;
    border: none;
    outline: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropbtn:hover {
    text-decoration: none;
    background: #636161;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #011113;
    min-width: 200px;
    border-radius: 10px;
    padding: 10px 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #636161;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
    text-align: left;
}


main {
    background-image: url('ff.jpeg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    min-height: 100vh; 
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1; 
}

main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: -1; 
}

.main-text {
    display: middle;
    color: rgb(253, 253, 253);
    text-align: left;
    width: 60%;
    margin-left: 5%;
}

.display-results {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 20px;
}

form {
    margin: 1%;
    margin-left: 5%;
    vertical-align: middle;
    width: 50%; 
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
}

form input, form button, form select {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    flex: 1; 
}

form input {
    background-color: #f9f9f9;
    color: #333;
}

form select {
    width: auto; 
    flex: 1px; 
}

form button {
    background-color: #05273d;
    color: white;
    width: auto;
    flex: 1px;
    transition: background-color 0.3s; 
}

form button:hover {
    background-color: #011113;
    cursor: pointer;
}

form button:active {
    background-color: #348ed8;
    cursor: pointer;
}


#results-container {
    color: #000000;
    overflow-y: scroll;
    width: 40%;
    height: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(233, 220, 220, 0.507); 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.hidden {
    display: none;
}

.trip {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #0e0b365d;
    color: rgb(252, 252, 252);
}
.trip h3 {
    margin: 0 0 10px 0;
}
.trip p {
    margin: 5px 0;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 10px;
    background-color: #05273d;
    color: #fff;
    margin-top: 0px;
}

@media (max-width: 1026px) {
    .history-form {
        flex-direction: column;
        align-items: center;
    }
    .main-text {
        width: 80%; 
        text-align: center;
        margin-inline: auto;
    }
    form {
        width: 80%;
        margin: auto; 
    }
    #results-container{
        width: 70%;
    }
}

@media (max-width: 645px) {
    .main-text {
        width: 80%; 
        text-align: center;
        margin-inline: auto;
    }
    form {
        width: 80%;
        margin: auto; 
        flex-direction: column;
    }
    #results-container{
        width: 70%;
    }
}